<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col col-md-6">
            <img style="width: 250px;" src="https://i.pinimg.com/originals/02/a1/36/02a1364bd911f38ba2fef214da96a60a.jpg" alt="">
        </div>
        <div class="col col-md-6">
            <h3>Bienvenue dans le site officiel de Laboratoire LAB
            </h3>
            <p>On a le plaisir de mettre à la disposition de nos chers patients et de leurs médecins la toute dernière technologie sécurisée du web pour leur permettre de consulter en temps réel les résultats de leurs analyses en utilisant leurs codes d'accès livrés par nos soins.
                A chaque changement vous recevrez un Email de notification.
                Pour toutes informations n'hésitez pas à nous contacter.</p>
                <div class="btn btn-primary">Contact</div>
        </div>
    </div>
</div>
