<header id="t3-header" class="container t3-header ideal_flex_header">
    <div class="row row_ideal_header" aaastyle="display:flex;">
        <div class="col-2 col-lg-2 col-xl-2 col-md-2 col-sm-12 col-xs-12 AAlogo" style="z-index:1;">
            <div class="AAwrap AAt3-slideshow ">
                <div class="custom">
                    <div class="logo_ideal"><a href="/"><img src=""
                                alt="logo Laboratoire LAB" title=""></a></div>
                </div>
            </div>
        </div>
        <div class="col-6 col-lg-6 col-md-6 col-sm-12 col-xs-12" style="display: flex;align-items: center;">
            <div class="AAwrap AAt3-slideshow slogan_header ">
                <div class="custom">
                    <div
                        style="font-size: 23px; /*line-height: 46px; font-weight: bold; */font-family: Arial,Helvetica,sans-serif; color: #cccac9; letter-spacing: 2px;">
                        <a class="lab_tn" href="#" target="_blank" rel="noopener">Lab™
                        </a> <a class="slogan_tm" target="_blank" href="#" rel="noopener">Vos
                            résultats d'analyses en ligne</a> </div>
                </div>
                <div class="custom"> <a
                        href="#"
                        target="_blank"><img style="position:fixed; bottom:0; right:0; z-index:9999;width:120px"
                            src="http://who.int/entity/hepatitis/WHO_Global-Hepatitis-Infographic-630x330px.gif" alt="comodo-secure"></a></div>
            </div>
        </div>
        <div class="col-4 col-md-4 col-xs-12 col-sm-12" style="display: flex;align-items: center;">
            
        </div>
    </div>
</header>
<div class="body">
    <div class="container">
        <div class="row">
            <div class="col col-md-4">
                <!-- Card -->
                <div class="card" style="margin-top: 390px;">


                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;"><a>Laboratoire LAB</a></h4>
                        <!-- Text -->
                        <br>
                        <p >Heure Tunisie: {{ myDate | date:'short'}} </p>
                        <br>
                        <p>Lundi - Vendredi:         07.30 - 18.30</p>
                        <br>
                        <p>Samedi:         07.30 - 14.30</p>
                      

                    </div>

                </div>
                <!-- Card -->
            </div>
            <div class="col col-md-4">
                <!-- Card -->
                <div class="card" style="margin-top: 390px;">


                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;"><a>Laboratoire LAB</a></h4>
                        <!-- Text -->
                        <br>
                        <p><i class="fas fa-location-arrow" style="margin-right: 5px;"></i>Adresse : 35 Rue XXXXXXXX - XXXXXXX - 1002 - XXXXX</p>
                       
                        <p><i class="fas fa-mail-bulk" style="margin-right: 5px;"></i>Contact : contact@lab.com </p> 
                        <p><i class="fas fa-phone" style="margin-right: 5px;"></i>Tél : +216 53 780 xxx</p>
                    </div>

                </div>
                <!-- Card -->
            </div>
            <div class="col col-md-4">
                <!-- Card -->
                <div class="card" style="margin-top: 390px;">


                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Title -->
                        <h4 class="card-title" style="text-align: center;"><a>Notre Code QR</a></h4>
                        <br>
                        <!-- Text -->
                        <p> Pour tout type de support mobile doté d'un appareil photo.</p>
                        

                    </div>

                </div>
                <!-- Card -->
            </div>
        </div>

    </div>
</div>